.card-group-image {
    margin-bottom: 25px;
    border-radius: 20px;

    box-shadow: 0px 4px 15px 0px #00000033;


}

.card-group-title {
    font-family: var(--font-headings);
    font-weight: 700;
    font-size: 43px;
    letter-spacing: 0.07em;
    color: var(--accent);
}

@media (max-width: 1200px){
    .card-group-title{
        font-size: clamp(1.563rem, 1.153rem + 2.05vw, 2.688rem);
    }
}

@media (max-width: 800px){
    .card-group-title{
        font-size: 26px;
    }
}
@media (max-width: 400px){
    .card-group-title{
        font-size: 24px;
        text-align: center;
    }
}
