.header{
    padding-top: 30px;

    background-image: image-set(
        url("./../../img/bg/hero-bg.jpg") 1x,
        url("./../../img/bg/hero-bg@2x.jpg") 2x
        );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
}

.header-row{
display: flex;
justify-content: space-between;
align-items: center;
}

.header-nav{
display: flex;
align-items: center;
gap: 50px;
font-family: var(--font-headings);
font-size: 16px;
font-weight: 700;
letter-spacing: 3px;
}
.header-nav a{
    transition: color 0.2s ease-in;
}
.header-nav a:hover{
    color: var(--accent);
}
.header-image{
    padding-top: 125px;
    text-align: right;
}


          /* Другие размеры экрана */

@media (max-width: 1025px){
    .logo{
        display: none;
    }
    .header-row{
        justify-content: center;
    }
    .header-image{
        text-align: center;
    }
    .header{
        background-position: left top;
    }
}
@media (max-width: 600px){
    .header{
        height: auto;
        padding-bottom: 60px;
        background-position: left top;
    }
    .logo{
        display: block;
    }
    .header-image{
        display: none;
    }
    .header-row{
        flex-direction: column;
        row-gap: 40px;
    }
    .header-nav{
        flex-direction: column;
        row-gap: 30px;
    }
}